body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    background-color: #333;
    color: white;
    margin-top: 60px;
    padding: 10px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}


.navbar {
    background-color: #f0f0f0;
    border: 1px solid black;
    display: flex;

}

ul.navbar {
    list-style-type: none;
    /* Remove the bullet points */
}

.navbar a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 5px 10px;
}

.navbar a:hover {
    background-color: #333;
    color: white;
}

.dropdown {
    position: relative;

}

.nac-links {
    display: flex;
    gap: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    left: 0;
    /* Align the dropdown with the "View" link */
    top: 100%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    padding: 5px 10px;
    text-decoration: none;
    color: black;
    display: block;
}

#formLink {
    margin-right: 330px;
    /* Adjust the gap as needed */
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.table {
    align-items: center;
    margin: 0 auto;
    width: 80%;
    border-width: 5px;
    column-width: 5px;
}

.navbar-links {
    display: flex;
    gap: 10px;
    align-items: center;
}